html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
#right-panel, #left-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 200%;
    padding-left: 1%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel, #left-panel, #message-panel {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding: 1%;
    z-index: 5;
}
#right-panel{
    right: 1%;
    top: 50%;
    margin-top: -20%;
    height: 40%;
    width: 20%;
    border: 1px solid #999;
    background-color: rgba(255,255,255,0.7);
}
#left-panel{
    left: 1%;
    top: 50%;
    margin-top: -20%;
    margin-bottom: 10%;
    height: 40%;
    width: 20%;
    border: 1px solid #999;
    background-color: rgba(255,255,255,0.7);
}
#message-panel{
    left: 25%;
    top: 90%;
    min-height: 10px;
    width: 50%;
    color: teal;
    font-style: bold;
    font-size: 16px;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
}
#right-panel h2, #left-panel h2 {
    font-size: 20px;
    margin: 1%;
}
#inner-panel {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10%;
    height: 90%;
    width: 105%;
    overflow-y: auto;
    margin-bottom: 10%;
}
#top-panel {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 5%;
    top: 5%;
    margin-top: 5%;
    height: 10%;
    width: 25%;
    padding: 1%;
    z-index: 5;
}
#more {
    width: 90%;
    margin-left: 5%;
}
#new {
    width: 100%;
    margin-top: 5%;
}
#poi,#street{
    width: 49%;
    font-size: 12px;
    margin-top: 5%;
}
#save, #cancel, #download, #upload{
    width: 100%;
    margin-top: 5%;
}
.remove{
    font-size: 10px;
    margin-left: 5px;
}
.clickable-row{
    cursor: pointer;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF90;
    color: white;
    width: 100%;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown,.done{
    position: relative;
    display: inline-block;
    float: right;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e91;
}

/* slider */
#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    background-color: deepskyblue;
    color: white;
}
#slider{
    max-width: 90%;
    font-size: 12px;
}